<div class="card mb-4">
  <div>
    <img class="card-img-top" src={{pozycjaMenu.obrazekUrl}} alt="">
  </div>
  <div class="card-body p-1">
    <p class="card-text text-center">{{pozycjaMenu.nazwaPozycja}}</p>
    <p class="card-text text-center">{{pozycjaMenu.cena}}</p>
    <p class="card-text text-center">{{pozycjaMenu.opis}}</p>
    <div *ngFor="let skladnik of skladniki" class="row">
      <p class="card-text text-center">{{skladnik.nazwaSkladnik}}</p>
      <p class="card-text text-center">{{skladnik.czyWeganski}}</p>
      <p class="card-text text-center">{{skladnik.czyWegetarianski}}</p>
      <p class="card-text text-center">{{skladnik.masaSkladnik}}</p>
    </div>
  </div>
</div>