<div class="card">
  <div class="card-body p-1">
    <div class="col-10">
      <table class="table table-borderless ml-2">
        <tbody>
          <tr>
            <td><strong>Id pracownika</strong></td>
            <td>{{profilPracownika.pracownikID}}</td>
          </tr>
          <tr>
            <td><strong>Login pracownika</strong></td>
            <td>{{profilPracownika.login}}</td>
          </tr>
          <tr>
            <td><strong>Id roli pracownika</strong></td>
            <td>{{profilPracownika.pracownikRolaID}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-primary ml-5">
        <button class="btn btn-success mr-2" type="button"
          (click)="usunProfilPracownika()">Usuń profil</button>
        <button class="btn btn-success mr-2" type="button"
          (click)="anuluj()">Anuluj</button>
      </div>
    </div>
  </div>
</div>
