<div class="container-fluid ml-5">
  <h1 class="text-left text-primary ml-5">Zarejestruj się</h1>
  <br>
  <div class="col-sm-10 col-md-8 col-lg-6">

    <div class="card">
      <div class="card-body p-1">
        <div class="col-10">
          <form [formGroup]="formularzRejestracji" (ngSubmit)="zarejestruj()">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><strong>Imię</strong></td>
                  <td class="form-group">
                    <input type="text" 
                      [ngClass]="{'is-invalid': formularzRejestracji.get('imie').errors && formularzRejestracji.get('imie').touched}"
                      class="form-control" 
                      formControlName="imie">
                    <div class="invalid-feedback">Pole imię jest wymagane</div></td>                      
                </tr>
                <tr>
                  <td><strong>Nazwisko</strong></td>
                  <td class="form-group">
                    <input type="text"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('nazwisko').errors && formularzRejestracji.get('nazwisko').touched}"
                      class="form-control" 
                      formControlName="nazwisko">
                    <div class="invalid-feedback">Pole nazwisko jest wymagane</div></td>
                </tr>
                <tr>
                  <td><strong>Adres email</strong></td>
                  <td class="form-group">
                    <input type="text"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('adresEmail').errors && formularzRejestracji.get('adresEmail').touched}"
                      class="form-control"
                      formControlName="adresEmail">
                    <div class="invalid-feedback">Pole adres email jest wymagane</div></td>
                </tr>
                <tr>
                  <td><strong>Nr tel. stacjonarny</strong></td>
                  <td class="form-group">
                    <input type="text"
                      class="form-control" 
                      formControlName="nrTelStacjonarny"></td>
                </tr>
                <tr>
                  <td><strong>Nr tel. komórkowy</strong></td>
                  <td class="form-group">                    
                    <input type="text"   
                      class="form-control"
                      formControlName="nrTelKomorkowy"></td>
                </tr>
                <tr>
                  <td><strong>Kod pocztowy</strong></td>
                  <td class="form-group">
                    <input type="text"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('kodPocztowy').errors && formularzRejestracji.get('kodPocztowy').touched}"  
                      class="form-control"
                      formControlName="kodPocztowy">
                    <div class="invalid-feedback">Kod pocztowy musi składać się z 5 znaków</div></td>
                </tr>
                <tr>
                  <td><strong>Miejscowość</strong></td>
                  <td class="form-group">
                    <input type="text"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('miejscowosc').errors && formularzRejestracji.get('miejscowosc').touched}"
                      class="form-control" 
                      formControlName="miejscowosc">
                    <div class="invalid-feedback">Pole miejscowość jest wymagane</div></td>
                </tr>
                <tr>
                  <td><strong>Ulica</strong></td>
                  <td class="form-group">
                    <input type="text" 
                      class="form-control" 
                      formControlName="ulica"></td>
                </tr>
                <tr>
                  <td><strong>Nr budynku</strong></td>
                  <td class="form-group">
                    <input type="text" 
                      class="form-control" 
                      formControlName="nrBudynek"></td>
                </tr>
                <tr>
                  <td><strong>Nr mieszkania</strong></td>
                  <td class="form-group">
                    <input type="text" 
                      class="form-control" 
                      formControlName="nrMieszkanie"></td>
                </tr>
                <tr>
                  <td><strong>Hasło</strong></td>
                  <td class="form-group">
                    <input type="password"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('haslo').errors && formularzRejestracji.get('haslo').touched}"
                      class="form-control" 
                      formControlName="haslo">
                      <div class="invalid-feedback">Hasło musi składać się minimum z 6 znaków</div></td>
                </tr>
                <tr>
                  <td><strong>Powtórzone hasło</strong></td>
                  <td class="form-group">
                    <input type="password"
                      [ngClass]="{'is-invalid': formularzRejestracji.hasError('nieprawidłowe') && formularzRejestracji.get('potwierdzHaslo').touched}" 
                      class="form-control"
                      formControlName="potwierdzHaslo">
                      <div class="invalid-feedback">Wprowadzone hasła musza być identyczne</div></td>
                </tr>

              </tbody>
            </table>
            <div class="form-group text-center">
              <button class="btn btn-success mr-4" type="submit">Zarejestruj się</button>
              <button class="btn btn-primary" type="button" (click)="anuluj()">Anuluj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>