<ng-sidebar-container> 

  <!-- A sidebar -->
  <ng-sidebar [(opened)] = "opened">
    <p>Sidebar Contents</p>
    <button class="btn btn-primary" (click)="toggleSidebar()">Close Sidebar</button>
    <ul class="menu">
      <li><a [routerLink]="['/stronaGlowna']">
        <i class="fa fa-home"></i>
        Strona główna</a></li>
      <li *ngIf="zalogowany()"><a [routerLink]="['/zamowienia']">
        <i class="fa fa-list"></i>
        Zamówienia</a></li>
      <li><a [routerLink]="['/menu']">
        <i class="fa fa-shopping-cart"></i>
        Menu</a></li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <!-- Page content -->
    <button class="btn btn-primary" (click)="toggleSidebar()">Open Sidebar</button>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>