<ng-sidebar-container> 

  <!-- A sidebar -->
  <ng-sidebar [(opened)] = "opened">
    <p>Sidebar Contents</p>
    <button (click)="toggleSidebar()">Close Sidebar</button>
    <ul class="menu">
      <li><a href="">
        <i class="fa fa-home"></i>
        Strona główna</a></li>
      <li><a href="">
        <i class="fa fa-list"></i>
        Zamówienia</a></li>
      <li><a href="">
        <i class="fa fa-shopping-cart"></i>
        Menu</a></li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <!-- Page content -->
    <button (click)="toggleSidebar()">Open Sidebar</button>
    <app-strona-glowna></app-strona-glowna>
    <app-menu></app-menu>
  </div>

</ng-sidebar-container>