<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">

  <a class="navbar-brand h1 ml-4" href="#">Firma Cateringowa</a>

  <a class="nav-link" (click)="wyloguj()">Wyloguj</a>

  <div *ngIf="zalogowany()" class="dropdown show mr-4">
    <a class="btn btn-secondary dropdown-toggle" role="button">
      Klient
    </a>
  
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Twoje dane</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Wyloguj</a>
    </div>
  </div>

  <form *ngIf="!zalogowany()" #formularzLogowania="ngForm" class="form-inline" (ngSubmit)="zaloguj()">

    <input class="form-control form-control-dark mr-2" type="text" name="adresEmail"
      placeholder="Adres email" required [(ngModel)]="klient.adresEmail">

    <input class="form-control form-control-dark mr-2" type="password" name="haslo"
      placeholder="Hasło" required [(ngModel)]="klient.haslo">
  
    <button [disabled]="!formularzLogowania.valid" class="btn btn-success mr-4" type="submit">Zaloguj</button>
  
  </form>

</nav>