<div class="card mb-4">
  <div>

  </div>
  <div class="card-body p-1">
    <p class="card-text text-center">{{klient.imie}}</p>
    <p class="card-text text-center">{{klient.nazwisko}}</p>
    <p class="card-text text-center">{{klient.adresEmail}}</p>
    <p class="card-text text-center">{{klient.nrTelStacjonarny}}</p>
    <p class="card-text text-center">{{klient.nrTelKomorkowy}}</p>
    <p class="card-text text-center">{{klient.kodPocztowy}}</p>
    <p class="card-text text-center">{{klient.miejscowosc}}</p>
    <p class="card-text text-center">{{klient.ulica}}</p>
    <p class="card-text text-center">{{klient.nrBudynek}}</p>
    <p class="card-text text-center">{{klient.nrMieszkanie}}</p>
    <p class="card-text text-center">{{klient.dataRejestracji}}</p>
  </div>
</div>