<div class="container-fluid ml-5">
  <h1 class="text-left text-primary ml-5">Twoje dane</h1>
  <br>

  <div class="col-sm-10 col-md-8 col-lg-6">

    <div *ngIf="!opened" class="card">
      <div class="card-body p-1">
        <div class="col-10">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><strong>Imię</strong></td>
                <td>{{klientDoPobrania.imie}}</td>
              </tr>
              <tr>
                <td><strong>Nazwisko</strong></td>
                <td>{{klientDoPobrania.nazwisko}}</td>
              </tr>
              <tr>
                <td><strong>Adres email</strong></td>
                <td>{{klientDoPobrania.adresEmail}}</td>
              </tr>
              <tr>
                <td><strong>Nr tel. stacjonarny</strong></td>
                <td>{{klientDoPobrania.nrTelStacjonarny}}</td>
              </tr>
              <tr>
                <td><strong>Nr tel. komórkowy</strong></td>
                <td>{{klientDoPobrania.nrTelKomorkowy}}</td>
              </tr>
              <tr>
                <td><strong>Kod pocztowy</strong></td>
                <td>{{klientDoPobrania.kodPocztowy}}</td>
              </tr>
              <tr>
                <td><strong>Miejscowość</strong></td>
                <td>{{klientDoPobrania.miejscowosc}}</td>
              </tr>
              <tr>
                <td><strong>Ulica</strong></td>
                <td>{{klientDoPobrania.ulica}}</td>
              </tr>
              <tr>
                <td><strong>Nr budynku</strong></td>
                <td>{{klientDoPobrania.nrBudynek}}</td>
              </tr>
              <tr>
                <td><strong>Nr mieszkania</strong></td>
                <td>{{klientDoPobrania.nrMieszkanie}}</td>
              </tr>
              <tr>
                <td><strong>Data rejestracji</strong></td>
                <td>{{klientDoPobrania.dataRejestracji | date:'fullDate' : '+0200' : 'pl'}}</td>
              </tr>
            </tbody>
          </table>

          <div>
            <button class="btn btn-success mr-4" (click)="toggleSidebar()">Edytuj dane</button>
            <button class="btn btn-primary" type="button" (click)="usunProfilKlienta()">Usuń konto</button>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="opened" class="card">
      <div class="card-body p-1">
        <div class="col-10">
          <form #formularzRejestracji="ngForm" (ngSubmit)="aktualizujProfilKlienta()">
            <br>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><strong>Imię</strong></td>
                  <td><input type="text" class="form-control" required name="imie" [(ngModel)]="klientDoPobrania.imie"
                      placeholder="imię"></td>
                </tr>
                <tr>
                  <td><strong>Nazwisko</strong></td>
                  <td><input type="text" class="form-control" required name="nazwisko"
                      [(ngModel)]="klientDoPobrania.nazwisko" placeholder="nazwisko"></td>
                </tr>
                <tr>
                  <td><strong>Adres email</strong></td>
                  <input type="text" class="form-control" required name="adresEmail"
                    [(ngModel)]="klientDoPobrania.adresEmail" placeholder="adres email">
                </tr>
                <tr>
                  <td><strong>Nr tel. stacjonarny</strong></td>
                  <input type="text" class="form-control" name="nrTelStacjonarny"
                    [(ngModel)]="klientDoPobrania.nrTelStacjonarny" placeholder="nr tel. stacjonarny">
                </tr>
                <tr>
                  <td><strong>Nr tel. komórkowy</strong></td>
                  <input type="text" class="form-control" name="nrTelKomorkowy"
                    [(ngModel)]="klientDoPobrania.nrTelKomorkowy" placeholder="nr tel. komórkowy">
                </tr>
                <tr>
                  <td><strong>Kod pocztowy</strong></td>
                  <input type="text" class="form-control" required name="kodPocztowy"
                    [(ngModel)]="klientDoPobrania.kodPocztowy" placeholder="kod pocztowy">
                </tr>
                <tr>
                  <td><strong>Miejscowość</strong></td>
                  <input type="text" class="form-control" required name="miejscowosc"
                    [(ngModel)]="klientDoPobrania.miejscowosc" placeholder="miejscowość">
                </tr>
                <tr>
                  <td><strong>Ulica</strong></td>
                  <input type="text" class="form-control" name="ulica" [(ngModel)]="klientDoPobrania.ulica"
                    placeholder="ulica">
                </tr>
                <tr>
                  <td><strong>Nr budynku</strong></td>
                  <input type="text" class="form-control" name="nrBudynek" [(ngModel)]="klientDoPobrania.nrBudynek"
                    placeholder="nr budynku">
                </tr>
                <tr>
                  <td><strong>Nr mieszkania</strong></td>
                  <input type="text" class="form-control" name="nrMieszkanie"
                    [(ngModel)]="klientDoPobrania.nrMieszkanie" placeholder="nr mieszkania">
                </tr>

              </tbody>
            </table>

            <div class="form-group text-center">
              <button class="btn btn-success mr-4" type="submit">Aktualizuj dane</button>
              <button class="btn btn-primary" type="button" (click)="anuluj()">Anuluj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>