<div class="container ml-5">
  <div style="text-align: center">
    <h1 class="text-left text-primary ml-5">Catering dietetyczny</h1>
    <h1 class="text-left text-primary ml-5">Panel pracownika</h1>
    <br>
    <div *ngIf="!zalogowany()">
      <h2 class="lead text-left ml-5">Logowanie</h2>
      <br>
      <div class="text-left text-primary ml-5">
        <button class="btn btn-info btn-lg" [routerLink]="['/logowanie']">Zaloguj się</button>
      </div>
    </div>
    <div *ngIf="zalogowany()">
      <h2 class="lead text-left ml-5">Jesteś zalogowany jako - {{pracownikLogin}}</h2>
      <h2 class="lead text-left ml-5">Wybierz zakładkę z menu po lewej stronie</h2>
    </div>
  </div>
</div>
