<div class="container-fluid ml-5">
  <h1 class="text-left text-primary ml-5">Zamów pozycję</h1>
  <br>

  <div class="col-sm-10 col-md-8 col-lg-6">

    <div class="card">
      <div class="card-body p-1">

        <div class="row">

          <div class="col-6">
            <img class="img-fluid" src={{pozycjaMenu.obrazekUrl}} alt="">
          </div>

          <div class="col-4">
          </div>
        </div>

        <div class="row">
          <table class="table table-borderless ml-2">
            <tbody>
              <tr>
                <td><small>nazwa</small></td>
                <td><small class="font-weight-bold">{{pozycjaMenu.nazwaPozycja}}</small></td>
              </tr>
              <tr>
                <td><small>cena</small></td>
                <td><small class="font-weight-bold">{{pozycjaMenu.cena}}</small></td>
              </tr>
              <tr>
                <td><small>opis</small></td>
                <td><small class="font-weight-bold">{{pozycjaMenu.opis}}</small></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <table class="table table-borderless ml-2">
            <tbody>
              <tr>
                <td><small class="font-weight-bold">Składnik</small></td>
                <td><small class="font-weight-bold">Masa</small></td>
                <td><small class="font-weight-bold">wegański</small></td>
                <td><small class="font-weight-bold">wegetariański</small></td>
              </tr>
              <tr *ngFor="let skladnik of pozycjaMenu.skladnik">
                <td><small>{{skladnik.nazwaSkladnik}}</small></td>
                <td><small>{{skladnik.masaSkladnik}}g</small></td>
                <td><small>{{skladnik.czyWeganski}}</small></td>
                <td><small>{{skladnik.czyWegetarianski}}</small></td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="row">
          <div class="col-10">
            <form #formularzZamowienia="ngForm">
              <br>
              <table class="table table-borderless ml-2">
                <tbody>
                  <tr>
                    <td><strong>koszt</strong></td>
                    <td>{{zamowienie.koszt}}</td>
                  </tr>
                  <tr>
                    <td><strong>kod pocztowy</strong></td>
                    <td><input type="text" class="form-control" required name="kodPocztowy"
                        [(ngModel)]="zamowienie.kodPocztowy" placeholder="kod pocztowy"></td>
                  </tr>
                  <tr>
                    <td><strong>miejscowość</strong></td>
                    <td><input type="text" class="form-control" required name="miejscowosc"
                        [(ngModel)]="zamowienie.miejscowosc" placeholder="miejscowość"></td>
                  </tr>
                  <tr>
                    <td><strong>ulica</strong></td>
                    <td><input type="text" class="form-control" name="ulica" [(ngModel)]="zamowienie.ulica"
                        placeholder="ulica"></td>
                  </tr>
                  <tr>
                    <td><strong>nr budynku</strong></td>
                    <td><input type="text" class="form-control" name="nrBudynek" [(ngModel)]="zamowienie.nrBudynek"
                        placeholder="nr budynku"></td>
                  </tr>
                  <tr>
                    <td><strong>nr mieszkania</strong></td>
                    <td><input type="text" class="form-control" required name="nrMieszkanie"
                        [(ngModel)]="zamowienie.nrMieszkanie" placeholder="nr mieszkania"></td>
                  </tr>

                </tbody>
              </table>

              <div class="text-primary ml-5">
                <button class="btn btn-success mr-4" type="button" (click)="zamowPozycje()">Złóż zamówienie</button>
                <button class="btn btn-primary" type="button" (click)="anuluj()">Anuluj</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>