<div class="container-fluid ml-5">
  <h1 class="text-left text-primary ml-5">Zamów pozycję</h1>
  <br>

  <div class="col-sm-10 col-md-8 col-lg-6">

    <div class="card">
      <div class="card-body p-1">

        <div class="row">

          <div class="col-6">
            <img class="img-fluid" src={{pozycjaMenu.obrazekUrl}} alt="">
          </div>

          <div class="col-4">
          </div>
        </div>

        <div class="row">
          <table class="table table-borderless ml-2">
            <tbody>
              <tr>
                <td><small>Nazwa</small></td>
                <td><small class="font-weight-bold">{{pozycjaMenu.nazwaPozycja}}</small></td>
              </tr>
              <tr>
                <td><small>Cena</small></td>
                <td><small class="font-weight-bold">{{pozycjaMenu.cena | currency:'PLN'}}</small></td>
              </tr>
              <tr>
                <td><small>Opis</small></td>
                <td><small class="font-weight-bold">{{pozycjaMenu.opis}}</small></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <table class="table table-borderless ml-2">
            <tbody>
              <tr>
                <td><small class="font-weight-bold">Składnik</small></td>
                <td><small class="font-weight-bold">Masa</small></td>
                <td><small class="font-weight-bold">wegański</small></td>
                <td><small class="font-weight-bold">wegetariański</small></td>
              </tr>
              <tr *ngFor="let skladnik of pozycjaMenu.skladnik">
                <td><small>{{skladnik.nazwaSkladnik}}</small></td>
                <td><small>{{skladnik.masaSkladnik}}g</small></td>
                <td><small>{{skladnik.czyWeganski ? 'tak':'nie'}}</small></td>
                <td><small>{{skladnik.czyWegetarianski ? 'tak':'nie'}}</small></td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="row">
          <div class="col-10">
            <form [formGroup]="formularzZamowienia" (ngSubmit)="zamowPozycje()">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td rowspan="2"><strong>Koszt zamówienia</strong></td>
                    <td>{{zamowienie.koszt | currency:'PLN'}}</td>
                  </tr>
                  <tr>
                    <td>w tym koszt dostawy - 5 zł</td>
                  </tr>
                  <tr>
                    <td><strong>Typ płatności</strong></td>
                    <td class="form-group">
                      <select class="form-control" formControlName="platnoscTyp">
                        <option *ngFor="let typ of typyPlatnosci" [ngValue]='typ.platnoscTypID'>
                          {{typ.nazwaPlatnosc}}
                        </option>
                     </select>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Data realizacji</strong></td>
                    <td class="form-group">
                      <input type="text" bsDatepicker
                        [ngClass]="{'is-invalid': formularzZamowienia.get('dataRealizacji').errors && formularzZamowienia.get('dataRealizacji').touched || formularzZamowienia.hasError('nieprawidłowaDataRealizacji') && formularzZamowienia.get('dataRealizacji').touched}"  
                        class="form-control"
                        formControlName="dataRealizacji">
                      <div class="invalid-feedback">Wprowadzona data realizacji jest nieprawidłowa</div></td>
                  </tr>
                  <tr>
                    <td><strong>Kod pocztowy</strong></td>
                    <td class="form-group">
                      <input type="text"
                        [ngClass]="{'is-invalid': formularzZamowienia.get('kodPocztowy').errors && formularzZamowienia.get('kodPocztowy').touched}"  
                        class="form-control"
                        formControlName="kodPocztowy">
                      <div class="invalid-feedback">Kod pocztowy musi składać się z 5 znaków</div></td>
                  </tr>
                  <tr>
                    <td><strong>Miejscowość</strong></td>
                    <td class="form-group">
                      <input type="text"
                        [ngClass]="{'is-invalid': formularzZamowienia.get('miejscowosc').errors && formularzZamowienia.get('miejscowosc').touched}"
                        class="form-control" 
                        formControlName="miejscowosc">
                      <div class="invalid-feedback">Pole miejscowość jest wymagane</div></td>
                  </tr>
                  <tr>
                    <td><strong>Ulica</strong></td>
                    <td class="form-group">
                      <input type="text" 
                        class="form-control" 
                        formControlName="ulica"></td>
                  </tr>
                  <tr>
                    <td><strong>Nr budynku</strong></td>
                    <td class="form-group">
                      <input type="text" 
                        class="form-control" 
                        formControlName="nrBudynek"></td>
                  </tr>
                  <tr>
                    <td><strong>Nr mieszkania</strong></td>
                    <td class="form-group">
                      <input type="text" 
                        class="form-control" 
                        formControlName="nrMieszkanie"></td>
                  </tr>  
                </tbody>
              </table>
              <div>
                <button class="btn btn-primary mb-2" type="button" (click)="wypelnijFormularz()">Wypełnij formularz adresem z mojego konta</button>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-success mr-4" type="submit">Złóż zamówienie</button>
                <button class="btn btn-info" type="button" (click)="anuluj()">Anuluj</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>