<div class="card">
  <div class="card-body p-1">

    <div class="col-12">
      <table class="table table-borderless ml-2">
        <tbody>
          <tr>
            <td><strong>Id pracownika</strong></td>
            <td>{{profilPracownika.pracownikID}}</td>
          </tr>
          <tr>
            <td><strong>Login pracownika</strong></td>
            <td>{{profilPracownika.login}}</td>
          </tr>
          <tr>
            <td><strong>Id roli pracownika</strong></td>
            <td>{{profilPracownika.pracownikRolaID}}</td>
          </tr>
        </tbody>
      </table>
    </div>



    <div class="text-primary ml-5">
      <button class="btn btn-primary mr-2" type="button"
        [routerLink]="['/pracownicy/edytuj', this.profilPracownika.pracownikRolaID]">Przejdź do konta</button>
    </div>
  </div>
</div>