<div class="container-fluid ml-5">
  <h1 class="text-left text-primary ml-5">Zarejestruj nowego pracownika</h1>
  <br>
  <div class="col-sm-10 col-md-8 col-lg-6">

    <div class="card">
      <div class="card-body p-1">
        <div class="col-10">
          <form [formGroup]="formularzRejestracji" (ngSubmit)="zarejestruj()">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><strong>Login</strong></td>
                  <td class="form-group">
                    <input type="text" 
                      [ngClass]="{'is-invalid': formularzRejestracji.get('login').errors && formularzRejestracji.get('login').touched}"
                      class="form-control" 
                      formControlName="login">
                    <div class="invalid-feedback">Pole login jest wymagane</div></td>                      
                </tr>
                <tr>
                  <td><strong>Hasło</strong></td>
                  <td class="form-group">
                    <input type="password"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('haslo').errors && formularzRejestracji.get('haslo').touched}"
                      class="form-control" 
                      formControlName="haslo">
                    <div class="invalid-feedback">Hasło musi składać się minimum z 6 znaków</div></td>
                </tr>
                <tr>
                  <td><strong>Powtórzone hasło</strong></td>
                  <td class="form-group">
                    <input type="password"
                      [ngClass]="{'is-invalid': formularzRejestracji.hasError('nieprawidłowe') && formularzRejestracji.get('potwierdzHaslo').touched}" 
                      class="form-control"
                      formControlName="potwierdzHaslo">
                    <div class="invalid-feedback">Wprowadzone hasła musza być identyczne</div></td>
                </tr>
                <tr>
                  <td><strong>ID roli pracownika</strong></td>
                  <td class="form-group">
                    <input type="text"
                      [ngClass]="{'is-invalid': formularzRejestracji.get('idRoli').errors && formularzRejestracji.get('idRoli').touched}"
                      class="form-control" 
                      formControlName="idRoli">
                    <div class="invalid-feedback">Pole ID roli pracownika jest wymagane</div></td>
                </tr>
              </tbody>
            </table>
            <div class="form-group text-center">
              <button class="btn btn-success mr-4" type="submit">Zarejestruj</button>
              <button class="btn btn-info" type="button" (click)="anuluj()">Anuluj</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>