<div class="container-fluid ml-5">
  <h1 class="text-left text-primary ml-5">Raporty</h1>
  <br>

  <div class="col-sm-10 col-md-8 col-lg-6">

    <div class="row">
      <div class="card">
        <div class="card-body p-1">

          <div class="col-10">
            <h3 class="text-primary ml-2">Oblicz ilość złożonych zamówień pomiędzy datami</h3>

            <form [formGroup]="formularzZamowienia" (ngSubmit)="pobierzIloscZamowien()">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><strong>Data początkowa</strong></td>
                    <td class="form-group">
                      <input type="text" bsDatepicker
                        [ngClass]="{'is-invalid': formularzZamowienia.get('dataPoczatkowaZamowienia').errors && formularzZamowienia.get('dataPoczatkowaZamowienia').touched}"
                        class="form-control" formControlName="dataPoczatkowaZamowienia"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}">
                      <div class="invalid-feedback">Pole data początkowa jest wymagane</div>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Data końcowa</strong></td>
                    <td class="form-group">
                      <input type="text" bsDatepicker
                        [ngClass]="{'is-invalid': formularzZamowienia.get('dataKoncowaZamowienia').errors && formularzZamowienia.get('dataKoncowaZamowienia').touched}"
                        class="form-control" formControlName="dataKoncowaZamowienia"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}">
                      <div class="invalid-feedback">Pole data końcowa jest wymagane</div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group text-center">
                <button class="btn btn-success mr-4" type="submit">Oblicz ilość zamówień</button>
              </div>
            </form>

            <br>

            <div class="row">

              <div class="col">
                <div>
                  <strong>Ilość złożonych zamówień</strong>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <p>{{iloscZamowien}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">

      <div class="card">
        <div class="card-body p-1">

          <div class="col-10">

            <h3 class="text-primary ml-2">Oblicz ilość zarejestrowanych klientów pomiędzy datami</h3>

            <form [formGroup]="formularzKlienci" (ngSubmit)="pobierzIloscKlientow()">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><strong>Data początkowa</strong></td>
                    <td class="form-group">
                      <input type="text" bsDatepicker
                        [ngClass]="{'is-invalid': formularzKlienci.get('dataPoczatkowaKlienci').errors && formularzKlienci.get('dataPoczatkowaKlienci').touched}"
                        class="form-control" formControlName="dataPoczatkowaKlienci"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}">
                      <div class="invalid-feedback">Pole data początkowa jest wymagane</div>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Data końcowa</strong></td>
                    <td class="form-group">
                      <input type="text" bsDatepicker
                        [ngClass]="{'is-invalid': formularzKlienci.get('dataKoncowaKlienci').errors && formularzKlienci.get('dataKoncowaKlienci').touched}"
                        class="form-control" formControlName="dataKoncowaKlienci"
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}">
                      <div class="invalid-feedback">Pole data końcowa jest wymagane</div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group text-center">
                <button class="btn btn-success mr-4" type="submit">Oblicz ilość klientów</button>
              </div>
            </form>

            <br>

            <div class="row">

              <div class="col">
                <div>
                  <strong>Ilość zarejestrowanych klientów</strong>
                </div>

              </div>

              <div class="col">

                <div class="card">
                  <div class="card-body">
                    <p>{{iloscKlientow}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>