<div class="card">
  <div class="card-body p-1">
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>Id zamówienia</strong></td>
            <td>{{zamowienie.zamowienieID}}</td>
          </tr>
          <tr>
            <td><strong>Koszt</strong></td>
            <td>{{zamowienie.koszt | currency:'PLN'}}</td>
          </tr>
          <tr>
            <td><strong>Kod pocztowy</strong></td>
            <td>{{zamowienie.kodPocztowy}}</td>
          </tr>
          <tr>
            <td><strong>Miejscowość</strong></td>
            <td>{{zamowienie.miejscowosc}}</td>
          </tr>
          <tr>
            <td><strong>Ulica</strong></td>
            <td>{{zamowienie.ulica}}</td>
          </tr>
          <tr>
            <td><strong>Nr budynku</strong></td>
            <td>{{zamowienie.nrBudynek}}</td>
          </tr>
          <tr>
            <td><strong>Nr mieszkania</strong></td>
            <td>{{zamowienie.nrMieszkanie}}</td>
          </tr>
          <tr>
            <td><strong>Data relizacji</strong></td>
            <td>{{zamowienie.dataRealizacji | date:'fullDate' : '+0200' : 'pl'}}</td>
          </tr>
          <tr>
            <td><strong>Data złożenia</strong></td>
            <td>{{zamowienie.dataZlozenia | date:'fullDate' : '+0200' : 'pl'}}</td>
          </tr>
          <tr>
            <td><strong>Nazwa pozycji</strong></td>
            <td>{{pozycjaMenu.nazwaPozycja}}</td>
          </tr>
          <tr>
            <td><strong>Cena pozycji</strong></td>
            <td>{{pozycjaMenu.cena | currency:'PLN'}}</td>
          </tr>
          <tr>
            <td><strong>Opis pozycji</strong></td>
            <td>{{pozycjaMenu.opis}}</td>
          </tr>
          <tr>
            <td><strong>Typ płatności</strong></td>
            <td>{{platnoscTyp.nazwaPlatnosc}}</td>
          </tr>
          <tr>
            <td><strong>Status zamówienia</strong></td>
            <td>{{zamowienieStatus.nazwaStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>