<div class="card mb-4">
  <div>

  </div>
  <div class="card-body p-1">
    <p class="card-text text-center">{{zamowienie.koszt}}</p>
    <p class="card-text text-center">{{zamowienie.kodPocztowy}}</p>
    <p class="card-text text-center">{{zamowienie.miejscowosc}}</p>
    <p class="card-text text-center">{{zamowienie.ulica}}</p>
    <p class="card-text text-center">{{zamowienie.nrBudynek}}</p>
    <p class="card-text text-center">{{zamowienie.nrMieszkanie}}</p>
    <p class="card-text text-center">{{zamowienie.dataRealizacji}}</p>
    <p class="card-text text-center">{{zamowienie.dataZlozenia}}</p>
    <p class="card-text text-center">{{pozycjaMenu.nazwaPozycja}}</p>
    <p class="card-text text-center">{{pozycjaMenu.cena}}</p>
    <p class="card-text text-center">{{pozycjaMenu.opis}}</p>
    <p class="card-text text-center">{{platnoscTyp.nazwaPlatnosc}}</p>
    <p class="card-text text-center">{{zamowienieStatus.nazwaStatus}}</p>
  </div>
</div>