<div class="card">
  <div class="card-body p-1">
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>koszt</strong></td>
            <td>{{zamowienie.koszt | currency:'PLN'}}</td>
          </tr>
          <tr>
            <td><strong>kod pocztowy</strong></td>
            <td>{{zamowienie.kodPocztowy}}</td>
          </tr>
          <tr>
            <td><strong>miejscowość</strong></td>
            <td>{{zamowienie.miejscowosc}}</td>
          </tr>
          <tr>
            <td><strong>ulica</strong></td>
            <td>{{zamowienie.ulica}}</td>
          </tr>
          <tr>
            <td><strong>nr budynku</strong></td>
            <td>{{zamowienie.nrBudynek}}</td>
          </tr>
          <tr>
            <td><strong>nr mieszkania</strong></td>
            <td>{{zamowienie.nrMieszkanie}}</td>
          </tr>
          <tr>
            <td><strong>data relizacji</strong></td>
            <td>{{zamowienie.dataRealizacji | date:'fullDate' : '+0200' : 'pl'}}</td>
          </tr>
          <tr>
            <td><strong>data złożenia</strong></td>
            <td>{{zamowienie.dataZlozenia | date:'fullDate' : '+0200' : 'pl'}}</td>
          </tr>
          <tr>
            <td><strong>nazwa pozycji</strong></td>
            <td>{{pozycjaMenu.nazwaPozycja}}</td>
          </tr>
          <tr>
            <td><strong>cena pozycji</strong></td>
            <td>{{pozycjaMenu.cena | currency:'PLN'}}</td>
          </tr>
          <tr>
            <td><strong>opis pozycji</strong></td>
            <td>{{pozycjaMenu.opis}}</td>
          </tr>
          <tr>
            <td><strong>typ płatności</strong></td>
            <td>{{platnoscTyp.nazwaPlatnosc}}</td>
          </tr>
          <tr>
            <td><strong>status zamówienia</strong></td>
            <td>{{zamowienieStatus.nazwaStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>