<div class="container ml-5">
  <div style="text-align: center">
    <h1 class="text-left text-primary ml-5">Catering dietetyczny</h1>
    <h1 class="text-left text-primary ml-5">Zamawiaj posiłki z dostawą</h1>
    <p class="lead text-left ml-5">Zarejestruj się by złożyć zamówienie</p>
    <div class="text-left text-primary ml-5">
      <button class="btn btn-primary btn-lg mr-4" [routerLink]="['/rejestracja']">Zarejestruj się</button>
      <button class="btn btn-info btn-lg" [routerLink]="['/logowanie']">Zaloguj się</button>
    </div>
  </div>
