<div class="container mt-5">
  <div *ngIf="!trybRejestracji" style="text-align: center">
    <h1>Catering dietetyczny</h1>
    <h1>Zamawiaj posiłki z dostawą</h1>
    <p class="lead">Zarejestruj się by złożyć zamówienie</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-4" (click)="przelacznikRejestracja()">Zarejestruj się</button>
      <button class="btn btn-info btn-lg">Zaloguj się</button>
    </div>
  </div>

  <div *ngIf="trybRejestracji" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-rejestracja (anulujRejestracje)="wylaczTrybRejestracji($event)"></app-rejestracja>
      </div>
    </div>
  </div>
</div>
